*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "partials/colors";
@import "partials/layout";
@import "partials/typography";
@import "partials/spacing";
@import "partials/buttons";

html {
    // Scroll suave
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    
    position: relative;
    
    scroll-behavior: smooth;
    background-color: $white-dark;
}

svg, img {
    display: block;
    width: 100%;
}

.border {
    border: 1px solid red;
}

@import "partials/menu";
@import "partials/swiper";
@import "partials/icons";
@import "partials/footer";
@import "partials/animations";