*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.color-white {
  color: #fefbff;
}

.weight-light {
  font-weight: 300;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-spacebetwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-auto {
  flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.hero {
  height: 90vh;
}
@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }
}

.bg-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -2;
}

.svg-bg-home {
  width: 150%;
}
@media screen and (min-width: 1440px) {
  .svg-bg-home {
    width: 100%;
  }
}

.list-item {
  list-style: none;
  position: relative;
  padding: 8px 8px 8px 72px;
  margin-bottom: 48px;
}
.list-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -8px;
  display: block;
  width: 64px;
  height: 64px;
}

.best {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  border-radius: 50px;
  background-color: #f7f2fa;
}
@media screen and (max-width: 960px) {
  .best {
    flex-direction: column;
  }
}
.best::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 124px;
  height: 32px;
  background-image: url("../assets/svg/entail.svg");
  background-repeat: no-repeat;
}

.best-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  margin: 8px 0;
}
@media screen and (max-width: 960px) {
  .best-item {
    justify-content: center;
    align-items: center;
  }
}

.bg-invite {
  height: 100vh;
  overflow: hidden;
}

.svg-invite {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 1140px) and (min-width: 960px) {
  .svg-invite {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.list {
  list-style: none;
}
.list li {
  margin-bottom: 12px;
}
.list a {
  color: #BB71D2;
}

footer {
  background: linear-gradient(220.94deg, #A950C4 14.43%, #82269E 85.28%);
}

.bt-purple {
  border-top: 1px solid #BB71D2;
}

h1 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h2 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 52px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h3 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Sora", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Sora", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, #A950C4 14.43%, #82269E 85.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

p {
  color: #666566;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
  color: #353436;
}

strong {
  color: #161617;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #232224;
  transition: 0.5s ease;
}
a:hover {
  opacity: 0.9;
}

.btn {
  background: linear-gradient(220.94deg, #A950C4 14.43%, #82269E 85.28%);
  border-radius: 16px;
  padding: 12px 32px;
  color: #fefbff;
  box-shadow: 0px 17px 17px rgba(169, 80, 196, 0.13), 0px 5.125px 5.125px rgba(169, 80, 196, 0.0847066), 0px 2.12866px 2.12866px rgba(169, 80, 196, 0.065), 0px 0.769896px 0.769896px rgba(169, 80, 196, 0.0452935);
  transition: 0.3s ease;
}
.btn:hover {
  box-shadow: 0px 17px 31px rgba(169, 80, 196, 0.27), 0px 5.125px 9.34559px rgba(169, 80, 196, 0.175929), 0px 2.12866px 3.88168px rgba(169, 80, 196, 0.135), 0px 0.769896px 1.40393px rgba(169, 80, 196, 0.094071);
  transform: scale(1.02);
}

.link {
  display: inline-block;
  color: #82269E;
  background-image: url("../assets/svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  font-size: 18px;
  padding: 16px 16px 16px 40px;
  position: relative;
  cursor: pointer;
}
.link::after {
  content: "";
  position: absolute;
  top: 75%;
  left: 56px;
  width: 0%;
  height: 2px;
  transition: 0.5s ease;
  border-radius: 2px;
  background-color: #BB71D2;
}
.link:hover {
  opacity: 0.8;
  padding-left: 64px;
  background-position: 8px 50%;
}
.link:hover::after {
  width: 100%;
}

.button-app {
  transition: 0.5s ease;
}
.button-app:hover {
  filter: drop-shadow(0px 51px 80px rgba(169, 80, 196, 0.08)) drop-shadow(0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271)) drop-shadow(0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04)) drop-shadow(0px 2.30969px 3.62304px rgba(169, 80, 196, 0.027872));
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #edeaef;
}

svg, img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

header {
  width: 100%;
  height: 72px;
  background-color: transparent;
  box-shadow: none;
  position: fixed;
  z-index: 999;
  transition: 0.5s ease;
}

.active-header {
  background-color: #f7f2fa;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

.logo {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.navbar-desktop-item-1 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-desktop-item-2 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-desktop {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-desktop .menu-item {
  margin-left: 16px;
  position: relative;
}

.nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}
.nav-link-desktop::after {
  content: "";
  position: absolute;
  top: 42%;
  right: -3px;
  width: 7px;
  height: 7px;
  transition: 0.2s linear;
  transform: rotate(45deg);
  border-radius: 1px;
  border-bottom: 2px solid #82269E;
  border-right: 2px solid #82269E;
}
.nav-link-desktop:hover::after {
  top: 45%;
}

.dropdown-menu {
  background-color: #f7f2fa;
  border-radius: 16px;
  padding: 16px 24px;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
  list-style: none;
  position: absolute;
  top: 48px;
  left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.7s ease;
}
.dropdown-menu .dropdown-item {
  width: 100%;
}

.active-dropdown-menu {
  pointer-events: all;
  opacity: 1;
}

.nav-link-dropdown {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  position: relative;
}
.nav-link-dropdown::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #A950C4;
  transition: 0.5s ease;
}
.nav-link-dropdown:hover::after {
  width: 100%;
}

.navbar-mobile {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: none;
}
@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 999;
}
.bx::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 17%;
  width: 70%;
  height: 2px;
  transition: 0.7s ease;
  background-color: #82269E;
}
.bx::before {
  content: "";
  position: absolute;
  top: 64%;
  left: 17%;
  width: 70%;
  height: 2px;
  transition: 0.7s ease;
  background-color: #82269E;
}

.active-bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 999;
  transition: 0.7s ease;
}
.active-bx::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  transform: rotate(-135deg);
  width: 70%;
  height: 2px;
  background-color: #82269E;
}
.active-bx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  transform: rotate(315deg);
  width: 70%;
  height: 2px;
  background-color: #82269E;
}

.menu-mobile {
  width: 100vw;
  height: 100vh;
  background-color: #f7f2fa;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease;
  transform: translate3d(0, -100px, 0);
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}

.nav-list-mobile {
  max-width: 1440px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.nav-list-mobile svg {
  width: 36px;
  height: 36px;
}
.nav-list-mobile svg path {
  stroke: #a6a6a7;
  transition: 0.7s ease;
}
.nav-list-mobile svg:hover path {
  stroke: #82269E;
}

.nav-link-mobile {
  display: inline-block;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 120%;
  color: #555456;
  padding: 16px 24px;
  position: relative;
}
.nav-link-mobile::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 16px;
  width: 0%;
  height: 2px;
  transition: 1s ease;
  background-color: #A950C4;
}
.nav-link-mobile:hover {
  color: #82269E;
}
.nav-link-mobile:hover::after {
  width: 100%;
}

.box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 24px;
}

.container-swiper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.swiper-slide {
  max-width: 420px;
  padding: 24px 36px;
  border-radius: 50px;
  margin: 0px 16px;
  background-color: #f7f2fa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.button-next {
  position: absolute;
  right: 32px;
  top: 24px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-image: url("../assets/svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.button-prev {
  position: absolute;
  right: 88px;
  top: 24px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-image: url("../assets/svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);
}

.photo-profile {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-1 {
  background-image: url("../assets/img/people1.png");
}

.photo-2 {
  background-image: url("../assets/img/people2.png");
}

.photo-3 {
  background-image: url("../assets/img/people3.png");
}

.photo-4 {
  background-image: url("../assets/img/people4.png");
}

.photo-5 {
  background-image: url("../assets/img/people5.png");
}

.dropshadow {
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}

.bg-icon-mobile::after {
  background-image: url("../assets/svg/icon-mobile.svg");
  background-size: cover;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  transition: 0.5s ease;
  cursor: pointer;
}
.bg-icon-mobile:hover::after {
  transform: scale(1.05);
}

.bg-icon-config::after {
  background-image: url("../assets/svg/icon-config.svg");
  background-size: cover;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  transition: 0.5s ease;
  cursor: pointer;
}
.bg-icon-config:hover::after {
  transform: scale(1.05);
}

.bg-icon-time::after {
  background-image: url("../assets/svg/icon-time.svg");
  background-size: cover;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  transition: 0.5s ease;
  cursor: pointer;
}
.bg-icon-time:hover::after {
  transform: scale(1.05);
}

.bg-icon-card::after {
  background-image: url("../assets/svg/icon-card.svg");
  background-size: cover;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  transition: 0.5s ease;
  cursor: pointer;
}
.bg-icon-card:hover::after {
  transform: scale(1.05);
}

.bg-icon-contactless::after {
  background-image: url("../assets/svg/icon-contactless.svg");
  background-size: cover;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  transition: 0.5s ease;
  cursor: pointer;
}
.bg-icon-contactless:hover::after {
  transform: scale(1.05);
}

.bg-icon-check::after {
  background-image: url("../assets/svg/icon-check.svg");
  background-size: cover;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  transition: 0.5s ease;
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: 8px;
  left: 8px;
}
.bg-icon-check:hover::after {
  transform: scale(1.05);
}

.icon {
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  transition: 0.5s ease;
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.05);
}

.icon-networks {
  max-width: 48px;
  padding: 8px;
}

.div-card {
  perspective: 500px;
  position: relative;
}

.card {
  width: 340px;
  height: 214.2px;
  border-radius: 12px;
  transform-origin: center center;
  transform-style: preserve-3d;
  background-color: transparent;
  -webkit-animation: flip-card 12s linear infinite alternate, change-bg-card 12s linear infinite alternate;
          animation: flip-card 12s linear infinite alternate, change-bg-card 12s linear infinite alternate;
  z-index: -1;
  box-shadow: 0px 4px 80px rgba(130, 38, 158, 0.07), 0px 1.20588px 24.1177px rgba(130, 38, 158, 0.0456112), 0px 0.500862px 10.0172px rgba(130, 38, 158, 0.035), 0px 0.181152px 3.62304px rgba(130, 38, 158, 0.0243888);
}

@-webkit-keyframes flip-card {
  0% {
    transform: rotateX(-10deg) rotateY(10deg) rotate(-15deg);
  }
  40% {
    transform: rotateX(0deg) rotateY(20deg);
  }
  60% {
    transform: rotateX(180deg) rotateY(20deg);
  }
  100% {
    transform: rotateX(190deg) rotateY(10deg) rotate(15deg);
  }
}

@keyframes flip-card {
  0% {
    transform: rotateX(-10deg) rotateY(10deg) rotate(-15deg);
  }
  40% {
    transform: rotateX(0deg) rotateY(20deg);
  }
  60% {
    transform: rotateX(180deg) rotateY(20deg);
  }
  100% {
    transform: rotateX(190deg) rotateY(10deg) rotate(15deg);
  }
}
@-webkit-keyframes change-bg-card {
  0%, 49% {
    background-image: url("../assets/svg/nubank.svg");
    background-size: cover;
  }
  50%, 100% {
    background-image: url("../assets/svg/nubank-verse.svg");
    background-size: cover;
  }
}
@keyframes change-bg-card {
  0%, 49% {
    background-image: url("../assets/svg/nubank.svg");
    background-size: cover;
  }
  50%, 100% {
    background-image: url("../assets/svg/nubank-verse.svg");
    background-size: cover;
  }
}
.icon-card-hero {
  position: absolute;
  top: 0px;
  left: -30px;
  z-index: 200;
  -webkit-animation: icons-home 7s ease 0.5s infinite alternate;
          animation: icons-home 7s ease 0.5s infinite alternate;
}

.icon-contactless-hero {
  position: absolute;
  top: 350px;
  left: 30px;
  z-index: 200;
  -webkit-animation: icons-home 7s ease 1s infinite alternate;
          animation: icons-home 7s ease 1s infinite alternate;
}
@media screen and (max-width: 960px) {
  .icon-contactless-hero {
    top: 320px;
    left: 120px;
  }
}

.icon-mobile-hero {
  position: absolute;
  top: 150px;
  left: -250px;
  z-index: 200;
  -webkit-animation: icons-home 7s ease 2.5s infinite alternate;
          animation: icons-home 7s ease 2.5s infinite alternate;
}
@media screen and (max-width: 960px) {
  .icon-mobile-hero {
    top: 350px;
    left: -100px;
  }
}

@-webkit-keyframes icons-home {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(10px, -40px, 0);
  }
}

@keyframes icons-home {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(10px, -40px, 0);
  }
}
.bg-home-blur1 {
  transform: translate3d(0, -100px, 0);
}

.bg-home-blur2 {
  transform: translate3d(0, -150px, 0);
}

.bg-home-rect1 {
  -webkit-animation: bg-home-rect 3s ease 0s infinite alternate;
          animation: bg-home-rect 3s ease 0s infinite alternate;
}

.bg-home-rect2 {
  -webkit-animation: bg-home-rect 3s ease 0.5s infinite alternate;
          animation: bg-home-rect 3s ease 0.5s infinite alternate;
}

.bg-home-rect3 {
  -webkit-animation: bg-home-rect 3s ease 1s infinite alternate;
          animation: bg-home-rect 3s ease 1s infinite alternate;
}

.bg-home-rect4 {
  -webkit-animation: bg-home-rect 3s ease 1.5s infinite alternate;
          animation: bg-home-rect 3s ease 1.5s infinite alternate;
}

@-webkit-keyframes bg-home-rect {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
  }
}

@keyframes bg-home-rect {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
  }
}
.people1 {
  opacity: 0;
  -webkit-animation: people 10s ease 0s infinite;
          animation: people 10s ease 0s infinite;
}

.people2 {
  opacity: 0;
  -webkit-animation: people 10s ease 5s infinite;
          animation: people 10s ease 5s infinite;
}

.people3 {
  opacity: 0;
  -webkit-animation: people 10s ease 2s infinite;
          animation: people 10s ease 2s infinite;
}

.people4 {
  opacity: 0;
  -webkit-animation: people 10s ease 7s infinite;
          animation: people 10s ease 7s infinite;
}

.people5 {
  opacity: 0;
  -webkit-animation: people 10s ease 3s infinite;
          animation: people 10s ease 3s infinite;
}

.people6 {
  opacity: 0;
  -webkit-animation: people 10s ease 8s infinite;
          animation: people 10s ease 8s infinite;
}

@media screen and (max-width: 960px) {
  #people2 {
    display: none;
  }
}

@-webkit-keyframes people {
  0% {
    opacity: 0;
  }
  20%, 50% {
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}

@keyframes people {
  0% {
    opacity: 0;
  }
  20%, 50% {
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}
.fignu2-screen1 {
  -webkit-animation: fignu2-screen1 18s ease infinite alternate;
          animation: fignu2-screen1 18s ease infinite alternate;
}

.fignu2-screen2 {
  -webkit-animation: fignu2-screen2 18s ease infinite alternate;
          animation: fignu2-screen2 18s ease infinite alternate;
}

.fignu2-screen3 {
  -webkit-animation: fignu2-screen3 18s ease infinite alternate;
          animation: fignu2-screen3 18s ease infinite alternate;
}

.fignu2-screen4 {
  -webkit-animation: fignu2-screen4 18s ease infinite alternate;
          animation: fignu2-screen4 18s ease infinite alternate;
}

.fignu2-screen5 {
  -webkit-animation: fignu2-screen5 18s ease infinite alternate;
          animation: fignu2-screen5 18s ease infinite alternate;
}

@-webkit-keyframes fignu2-screen1 {
  0%, 15% {
    opacity: 1;
  }
  20%, 100% {
    opacity: 0;
  }
}

@keyframes fignu2-screen1 {
  0%, 15% {
    opacity: 1;
  }
  20%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes fignu2-screen2 {
  0%, 15% {
    opacity: 0;
  }
  20%, 35% {
    opacity: 1;
  }
  40%, 100% {
    opacity: 0;
  }
}
@keyframes fignu2-screen2 {
  0%, 15% {
    opacity: 0;
  }
  20%, 35% {
    opacity: 1;
  }
  40%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes fignu2-screen3 {
  0%, 35% {
    opacity: 0;
  }
  40%, 55% {
    opacity: 1;
  }
  60%, 100% {
    opacity: 0;
  }
}
@keyframes fignu2-screen3 {
  0%, 35% {
    opacity: 0;
  }
  40%, 55% {
    opacity: 1;
  }
  60%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes fignu2-screen4 {
  0%, 55% {
    opacity: 0;
  }
  60%, 75% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes fignu2-screen4 {
  0%, 55% {
    opacity: 0;
  }
  60%, 75% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes fignu2-screen5 {
  0%, 75% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}
@keyframes fignu2-screen5 {
  0%, 75% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}
.fignu2-icon1 {
  -webkit-animation: fignu2-icon-move 3s ease 0s infinite alternate;
          animation: fignu2-icon-move 3s ease 0s infinite alternate;
}

.fignu2-icon3 {
  -webkit-animation: fignu2-icon-move 3s ease 2s infinite alternate;
          animation: fignu2-icon-move 3s ease 2s infinite alternate;
}

.fignu2-icon5 {
  -webkit-animation: fignu2-icon-move 3s ease 1s infinite alternate;
          animation: fignu2-icon-move 3s ease 1s infinite alternate;
}

@-webkit-keyframes fignu2-icon-move {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(10px, -40px, 0);
  }
}

@keyframes fignu2-icon-move {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(10px, -40px, 0);
  }
}
.fignu3-card-verse {
  transform-origin: center center;
  transform-box: fill-box;
  transform: translate3d(0, -40px, 0) rotate(0deg);
  -webkit-animation: fignu3-card-verse-move 3s ease infinite alternate;
          animation: fignu3-card-verse-move 3s ease infinite alternate;
}

.fignu3-card-front {
  transform-origin: center center;
  transform-box: fill-box;
  transform: translate3d(0, -40px, 0) rotate(0deg);
  -webkit-animation: fignu3-card-front-move 3s ease 1s infinite alternate;
          animation: fignu3-card-front-move 3s ease 1s infinite alternate;
}

.fignu3-shadow {
  transform-origin: center center;
  transform-box: fill-box;
  fill-opacity: 0.15;
  -webkit-animation: fignu3-shadow 3s ease 1s infinite alternate;
          animation: fignu3-shadow 3s ease 1s infinite alternate;
}

@-webkit-keyframes fignu3-card-verse-move {
  0% {
    transform: translate3d(0, -40px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 20px, 0) rotate(5deg);
  }
}

@keyframes fignu3-card-verse-move {
  0% {
    transform: translate3d(0, -40px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 20px, 0) rotate(5deg);
  }
}
@-webkit-keyframes fignu3-card-front-move {
  0% {
    transform: translate3d(0, -40px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 20px, 0) rotate(-5deg);
  }
}
@keyframes fignu3-card-front-move {
  0% {
    transform: translate3d(0, -40px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 20px, 0) rotate(-5deg);
  }
}
@-webkit-keyframes fignu3-shadow {
  0% {
    fill-opacity: 0.15;
  }
  100% {
    fill-opacity: 0.4;
  }
}
@keyframes fignu3-shadow {
  0% {
    fill-opacity: 0.15;
  }
  100% {
    fill-opacity: 0.4;
  }
}
.fignu4-letter-u, .fignu4-letter-n {
  -webkit-animation: fig4-letter 4s ease infinite alternate;
          animation: fig4-letter 4s ease infinite alternate;
}

@-webkit-keyframes fig4-letter {
  0% {
    stroke-width: 4;
    stroke-dasharray: 0 400;
    stroke-opacity: 1;
  }
  60%, 100% {
    stroke-width: 4;
    stroke-dasharray: 400 0;
    stroke-opacity: 1;
  }
}

@keyframes fig4-letter {
  0% {
    stroke-width: 4;
    stroke-dasharray: 0 400;
    stroke-opacity: 1;
  }
  60%, 100% {
    stroke-width: 4;
    stroke-dasharray: 400 0;
    stroke-opacity: 1;
  }
}
.fignu5-ball1 {
  -webkit-animation: translate-ball 4s ease infinite alternate;
          animation: translate-ball 4s ease infinite alternate;
}

.fignu5-ball2 {
  -webkit-animation: translate-ball 4s ease infinite 1s alternate;
          animation: translate-ball 4s ease infinite 1s alternate;
}

.fignu5-ball3 {
  -webkit-animation: translate-ball 4s ease infinite 2s alternate;
          animation: translate-ball 4s ease infinite 2s alternate;
}

.fignu5-ball4 {
  -webkit-animation: translate-ball 4s ease infinite 3s alternate;
          animation: translate-ball 4s ease infinite 3s alternate;
}

@-webkit-keyframes translate-ball {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(200px, -100px, 0);
  }
}

@keyframes translate-ball {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(200px, -100px, 0);
  }
}/*# sourceMappingURL=style.css.map */