// Colors of project

// Brand colors
$primary-normal: #82269E;
$primary-dark: #701F88;
$primary-light: #9C4FB4;

$secondary-normal: #A950C4;
$secondary-dark: #9142A8;
$secondary-light: #BB71D2;

// Neutral colors
$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #f7f2fa;
$white-dark: #edeaef;
$white-light: #fefbff;

// Gray scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;

// Linear Gradient
$linear-normal: linear-gradient(220.94deg, $secondary-normal 14.43%, $primary-normal 85.28%);

.color-white {
    color: $white-light;
}

.weight-light {
    font-weight: 300;
}