header {
    width: 100%;
    height: 72px;
    background-color: transparent;
    box-shadow: none;

    position: fixed;
    z-index: 999;

    transition: .5s ease;
}

.active-header {
    background-color: $white-normal;
    box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 
    0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 
    0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 
    0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

// DESKTOP
.navbar-desktop {
    max-width: $container-xl;
    margin: 0 auto;
    padding: 10px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(s) {
        display: none;
    }
}

.logo {
    width: 48px;
    height: 48px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

.navbar-desktop-item-1 {
    flex: 1 1 auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-desktop-item-2 {
    flex: 1 1 auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-desktop {
    list-style: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    .menu-item {
        margin-left: 16px;
        position: relative;
    }
}

.nav-link-desktop {
    display: inline-block;
    padding: 12px 16px;

    position: relative;

    // Setinha (feita usando as bordas do after)
    &::after {
        content: "";
        position: absolute;

        top: 42%;
        right: -3px;

        width: 7px;
        height: 7px;

        transition: .2s linear;

        transform: rotate(45deg);
        border-radius: 1px;

        border-bottom: 2px solid $primary-normal;
        border-right: 2px solid $primary-normal;
    }

    &:hover {
        // Movimentar seta para baixo no hover
        &::after {
            top: 45%;
        }
    }
}

.dropdown-menu {
    background-color: $white-normal;
    border-radius: 16px;

    padding: 16px 24px;

    box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 
    0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 
    0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 
    0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);

    list-style: none;
    position: absolute;
    top: 48px;
    left: 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    // Esconder dropdown e tirar a opção de click dos links
    opacity: 0;
    pointer-events: none;

    transition: .7s ease;

    .dropdown-item {
        width: 100%;
    }
    
}

.active-dropdown-menu {
    pointer-events: all;
    opacity: 1;
}

.nav-link-dropdown {
    display: inline-block;
    width: 100%;

    padding: 8px 16px;

    position: relative;

    &::after {
        content: "";
        position: absolute;

        top: 90%;
        left: 0;

        width: 0%;
        height: 2px;

        background-color: $secondary-normal;

        transition: .5s ease;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

// MOBILE
.navbar-mobile {
    
    max-width: $container-xl;
    margin: 0 auto;
    padding: 10px 24px;

    display: none;

    @include responsive(s) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.bx {
    width: 36px;
    height: 36px;

    position: relative;

    cursor: pointer;
    z-index: 999;


    &::after {
        content: "";
        position: absolute;
        
        top: 40%;
        left: 17%;

        width: 70%;
        height: 2px;

        transition: .7s ease;

        background-color: $primary-normal;
    }

    &::before {
        content: "";
        position: absolute;

        top: 64%;
        left: 17%;

        width: 70%;
        height: 2px;

        transition: .7s ease;

        background-color: $primary-normal;
    }
}

.active-bx {
    width: 36px;
    height: 36px;

    position: relative;

    cursor: pointer;
    z-index: 999;

    transition: .7s ease;

    &::after {
        content: "";
        position: absolute;
        
        top: 50%;
        left: 17%;

        transform: rotate(-135deg);

        width: 70%;
        height: 2px;

        background-color: $primary-normal;
    }

    &::before {
        content: "";
        position: absolute;

        top: 50%;
        left: 17%;

        transform: rotate(315deg);

        width: 70%;
        height: 2px;

        background-color: $primary-normal;
    }
}

.menu-mobile {
    width: 100vw;
    height: 100vh;

    background-color: $white-normal;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    transition: .1s ease;
    transform: translate3d(0, -100px, 0);
}

.active-menu-mobile {
    opacity: 1;
    pointer-events: all;
}

.nav-list-mobile {
    max-width: $container-xl;
    list-style: none;

    display: flex;
    flex-direction: column;

    svg {
        width: 36px;
        height: 36px;
        
        path {
            stroke: $gray-7;
            transition: .7s ease;
        }

        &:hover {
            path {
                stroke: $primary-normal;
            }
        }
    }
}

.nav-link-mobile {
    display: inline-block;

    @include typeface-1(h3, desktop);
    color: $gray-2;

    padding: 16px 24px;

    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 90%;
        left: 16px;

        width: 0%;
        height: 2px;

        transition: 1s ease;

        background-color: $secondary-normal;
    }

    &:hover {
        color: $primary-normal;

        &::after {
            width: 100%;
        }
    }
}